.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button)  { background: #944fba;
  border-bottom: solid black;
  border-width: 3px;
 }

.top-bar-title h1 {
  color: white;
  font-size: 5rem;
  margin-left: 2rem;
  font-family: 'Cherry Cream Soda', cursive;
}

.top-bar-left h5 {
  vertical-align: bottom;
}

.top-bar ul {
  background-color: #944fba;
}


header.row {
  background-color: #944fba;
  border-bottom: solid black;
  border-width: 3px;
}



.wrapper {
  padding: 2%;
  display: block;
  margin: 0 2%;
}



.button, .menu {
  background-color: #944fba;
  margin-right: 2rem;

}

.menu ul {
  background-color: #944fba;
}

.menu li {
  background-color: #944fba;
}

.menu li a {
  background-color: white;
  border: solid black;
  border-width: 1px;
  color: black;
  margin: 3px;
  font-family: 'Lato', sans-serif;
}

.nosy_menu {
  border: solid black;
  border-width: 1px;
}

.nosy_query {
  margin: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
}

.nosy_form h2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 1rem;
}

.nosy_form {
  font-family: 'Lato', sans-serif;
}


label.nosy_form {
  font-size: 1.5rem;
  margin-bottom: 0;
}


.callout {
  padding: 2rem;
  margin: 1rem;
}

.callout h4 {
  font-family: 'Lato', sans-serif;
}

a {
  color: blue;
}

a:hover {
  color: gray;
}

a:visited {
  color: red;
}


section#hold_tweet_view {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

a#twitter_url {
  display: flex;
  justify-content: left;
  margin: 0 1rem 1rem 1rem;
}


.testpie_pan {
  display: flex;
  justify-content: center

}


.emotion_donut {
  display: inline-block;
}


div.logo {
  display: flex;
  justify-content: center;
  float: left;
}

.logo {
  margin-top: 2rem;
  display: block;
  height: 15rem;
  width: 15rem;
  float:left;
}

img.logo {
  float: left;
}

#deal {
  margin-bottom: 1rem;
}
