container_commands:
  01_collectstatic:
    Command: "source /opt/python/run/venv/bin/activate && python nosycolors/manage.py collectstatic --noinput"
  02_migrate:
    Command: "source /opt/python/run/venv/bin/activate && python nosycolors/manage.py migrate --noinput"
    leader_only:true
 
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nosycolors.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath:"nosycolors/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"