container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python nosycolors/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "nosycolors.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath:"nosycolors/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "pies/static/"