header.row {
	background-color: #944fba;
	border-bottom: solid black;
}

a.page_title {
	color: white;
}

.wrapper {
	padding: 0 5%;
	display: block;

}


.form-wrapper {
	padding: 5%;
	display: flex;
	justify-content: center;
}

#nosy_form {
	width: 50%;
	position: relative;
}


nav {
	display: flex;
	justify-content: center;
}

nav a {
	/*float: right;*/
}

nav .button {
	background-color: #944fba;
	/*float: center;*/
}

h1.set-header {
	font-family: verdana;
	margin-top: .2em;
	margin-bottom: .2em
}

a {
	color: black;
}

.nosy_query {
	margin: 1% 0 1% 0;
}

#hold_tweetview {
	display: flex;
	justify-content: center;
}

#tweet_view {
	display: block;
	margin: 0% 5% 2% 15%;
	font-size: .8em;

}

.testpie {

}


.emotion_donut {
	display: inline-block;
}

.tweet {
	float: center;
}

.about_header {
	display:block;
	width: 80%;
}

.about_text {

}