{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Feeling Nosy?{% endblock %}</title>
</head>

<body class="about row">
    {% block pagecontent %}
    <div class="row nosy">
        <h2 class="nosy_query small-12 small-centered medium-9 columns">All About Being Nosy</h2>
        <p class='nosy_query small-12 small-centered medium-12 columns'>I'm trying to play with data and color. It's turning out how it's turning out.</p>
        <!--           <img class='logo small-12 small-centered medium-3 columns' src="{%static 'purple-nose-moustache-glasses.jpg' %}"> -->
        <img class='logo' src="{%static 'purple-nose-moustache-glasses.jpg' %}">
    </div>
    <footer class="row">
        <div class="small-12 small-centered medium-9 columns">
            <p>My source for the sentiment lexicon was Dr. Saif Mohammed, Senior Research Officer at the National Research Council Canada.</p>
            <p>His website is <a href='http://saifmohammad.com'>here</a> and his papers are below:</p>
            <p>Crowdsourcing a Word-Emotion Association Lexicon, Saif Mohammad and Peter Turney, Computational Intelligence, 29 (3), 436-465, 2013. <a href="https://arxiv.org/pdf/1308.6297.pdf">Paper (pdf)</a> <a href="http://saifmohammad.com/WebPages/Abstracts/crowdemo.bib.txt">BibTeX</a></p>
            <p>Emotions Evoked by Common Words and Phrases: Using Mechanical Turk to Create an Emotion Lexicon, Saif Mohammad and Peter Turney, In Proceedings of the NAACL-HLT 2010 Workshop on Computational Approaches to Analysis and Generation of Emotion in Text, June 2010, LA, California. <a href="http://saifmohammad.com/WebDocs/Mohammad-Turney-NAACL10-EmotionWorkshop.pdf">Paper (pdf)</a> <a href="">BibTeX</a> <a href="http://saifmohammad.com/WebDocs/Mohammad-Turney-NAACL10-EmotionWorkshop-slides.pdf">Presentation</a></p>
        </div>
    </footer>
    {% endblock %}
</body>

</html>
