{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Feeling Nosy?{% endblock %}</title>
</head>

<body class="about row">
    {% block pagecontent %}
    <div class="row nosy">
        <h2 class="nosy_query small-12 small-centered medium-centerd medium-12 columns">All About Being Nosy</h2>
        <p class='nosy_query small-12 small-centered medium-centered medium-12 columns'>I'm trying to play with data and color. It's turning out how it's turning out.</p>
          <img class='logo small-12 small-centered medium-6 columns' src="{%static 'purple-nose-moustache-glasses.jpg' %}">
    </div>
    {% endblock %}
</body>

</html>
