{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Feeling Nosy?{% endblock %}</title>
</head>

<body>
    {% block pagecontent %}
    <div class="row nosy">
      <h2 class="nosy_query small-12 medium-12">How... <i>are</i>... they feeling?</h2>
    	<div class='nosy_form small-12 medium-3 columns'>

        <form action="pie_data/" method="post" class='nosy_form'>
            {% csrf_token %}
            <label for="screen_name" class="nosy_form">Twitter Handle: </label>
            <input id="screen_name" type="text" name="screen_name">
            <label for="number_of_tweets" class="nosy_form">How many tweets?</label>
            <input id="number_of_tweets" type="integer" name="number_of_tweets">
            <input type="submit" value="Get Nosy">
            <label class='disclaimer'>Max. you get back is 100.</label>  
            <label class='disclaimer'>Twitter's rules, not mine.</label>
        </form>
            	<img class='logo small-12 small-centered medium-6 columns' src="{%static 'purple-nose-moustache-glasses.jpg' %}">
        </div>
        <div class='callout small-12 medium-6 columns'>
            <label class="nosy_form">The Deal</label>
            <p>Here it is: You know someone. Someone who's on Twitter. You're curious about this Someone. You want to know what they're saying, how they're feeling. Sure, you could read their tweets and guess.</p>
            <p>But maybe that's not enough.</p>
            <p>Maybe you don't want to do the work.</p>
            <p>Or maybe, just maybe, you trust <a href='https://en.wikipedia.org/wiki/Computational_linguistics'>computational linguistics</a> and want science to bless your guess.</p>
            <p>This site is for you.</p>
        </div>
    </div>

    {% endblock %}
</body>

</html>
