{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Feeling Nosy?{% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
<section class="form_wrapper">
<form action="pie_data/" method="post" class="small-6 columns" id="nosy_form">

    {% csrf_token %}

    <label for="target_handle">Twitter Handle: </label>

    <input id="target_handle" type="text" name="target_handle">

    <label for="number_of_tweets">How many tweets?  (Max. is 100) </label>

    <input id="number_of_tweets" type="integer" name="number_of_tweets">

    


    <input type="submit" value="OK">
</form>
</section>
    {% endblock %}
</body>

</html>
