 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
</head>

<body>
    {% block pagecontent %}
    {{tweets}}
<!--     {% if tweets %}
    	<h1>{{target.screen_name}} aka {{target.name}}</h1>
    	<h1>All About Being Nosy</h1>
      {% for tweet in tweets %}
        <h5>Tweet Text:</h5>
        <p>{{tweet.text}}</p>
        <h5>Tweet Emotions:</h5>
        <p>{{tweet.emotions}}</p>
        <p>{{tweet.scores}}</p>

       {% endfor %}   	
    {%else%}
    	 <p>{{target_handle}} hasn't uploaded any tweets yet.</p>
    {% endif %}  -->
<div class='testpie'>
</div>
	<script src="//d3js.org/d3.v3.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<script type="text/javascript">
//*****************************

var something = {{tweets|safe}};

var tweet_text = ["gerber baby", "sing me a song"];



var label = d3.scale.ordinal()
.range(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"]);


var color = d3.scale.ordinal()
	.domain(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"])
	.range(["#e34141", "#4545ec", "#652e2e", "#272323", "#eeee4b", "#808080", "#944fba", "#22c322"]);
	// .range(red, blue, brown, black, yellow, grey, purple,green)

var m = 10,
    r = 100;


var scoring = function(d) {
	console.log(d);
	return d.sentiment.score;
};

var pie = d3.layout.pie()
	.value( function(d) { return d.scores; })
	.padAngle(.01)
	.sort(null);

var arc = d3.svg.arc()
        .innerRadius(r / 2)
        .outerRadius(r);

var pie = d3.layout.pie()
    .value(function(d) { return +d.score; })
    .sort(null);
    // .sort(function(a, b) { return b.score - a.score; });

var data = {};

var tweet_scoring = d3.nest()
		.key(function(d) { return d.tweet_id; })
		.entries(something);

var tweet_emoting = d3.nest()
		.key(function(d) { return d.tweet_id; })
		.entries(something);
    
var svg = d3.select(".testpie").selectAll("svg")
			.data(tweet_scoring)
			.enter().append("svg")
		    .attr("width", (r + m) * 2)
		    .attr("height", (r + m) * 2)
		    .attr("class", "tweet")
		  	.attr("id", function(d, i) {return "tweet_" + i; })
  		.append("g")
    	.attr("transform", "translate(" + (r + m) + "," + (r + m) + ")");

svg.append("text")
	.each(function(d) { this._current = d;})
  .attr("dy", ".35em")
  .attr("text-anchor", "middle")
  .attr("class", "tweet_text")
  // .text(function(d) {return this._current.key;})
  .attr("id", function(d) { return "tweet_text_" + this._current.key; });
  // .attr("id", function(d, i) { return "tweet_text_" + i; })
  // .text(function(d, i) { return tweet_text[i]; });

var g = svg.selectAll('g')
	.data(function(d) { return pie(d.values); })
	.enter().append('g');

  g.append("path")
  		.each(function(d) { this._current = d; })
      .attr("d", arc)
      .attr("class", "emotionArc")
      // .attr("class", this._current.data.tweet_id)
	 		.attr("id", function(d, i) {return "emotionArc_" + i; })
      .style("fill", function(d) { return color(d.data.emotion); });

      // g.append("text")
      //     .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      //     .attr("dy", ".35em")
      //     .style("text-anchor", "middle");

      // g.select("text").text(function(d) { return d.data.emotion; });      

      g.on("mouseover", function(obj){
        console.log(obj.data.emotion)
        svg.select("#tweet_text_"+ obj.data.tweet_id)
        .attr("fill", function(d) { return color(obj.data.emotion); })
        .attr("font-weight", "bold")
        .style("font-size", r/5.5+"px")
        .text(function(d){
          return obj.data.emotion;
        });
      });

      g.on("mouseout", function(obj){
        svg.select("text.text-tooltip").text("");
      });



  





//******************************

// var emotions = {{emotions|safe }};

// var test_data = {{color_scores|safe}};


// var data = [[2,4,2], [2,4,2, 2]];
// // var data = {{scores}};



// var color = d3.scale.ordinal()
// 	.range(["#e34141", "#4545ec", "#652e2e", "#272323", "#eeee4b", "#808080", "#944fba", "#22c322"]);
// 	// .range(red, blue, brown, black, yellow, grey, purple,green)

// var m = 10,
//     r = 100;

// var svg = d3.select(".testpie").selectAll("svg")
//     .data(data)
//   .enter().append("svg")
//     .attr("width", (r + m) * 2)
//     .attr("height", (r + m) * 2)
//   .append("g")
//     .attr("transform", "translate(" + (r + m) + "," + (r + m) + ")");


// svg.selectAll("path")
//     .data(d3.layout.pie())
//   .enter().append("path")
//     .attr("d", d3.svg.arc()
//         .innerRadius(r / 2)
//         .outerRadius(r))
//     .style("fill", function(d, i) { return color(i); });


</script>
    <a href="{% url 'index' %}"> Get Nosy </a> 
    <a href="{% url 'test_pie' %}">Test Pies</a>
    {% endblock %}
</body>

</html>
