 {% load static %}
 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nosy Colors</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>

<body>

    {% block pagecontent %}


<body>
    <div class='top-bar'>
      <div class="top-bar-title">
        <a href="{% url 'index' %}"><h1>Feeling Nosy?</h1></a>
      </div>

      <div class='top-bar-right'>
        <ul class='menu'>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
       </div>
     </div>


    <div class="row nosy">
      <h2 class="nosy_query small-12 small-centered medium-12">So... <i>Nosy Person</i>... they're feeling... <i>all these feels...</i></h2>

  <section id='hold_tweet_view' class='row'>
    
    <article id='tweet_view' class="small-12 small-centered columns"></article>
  
  </section>
</div>
  <div class='testpie_pan row'>
  <div class='testpie small-12 columns'>
  </div>
  </div>


<script>

d3.select('#tweet_view').append("text")
  .text("")
  .attr("class", "viewed_tweet");



var something = {{tweet_emotions|safe}};

var otherthing = {{tweet_details|safe}};



var label = d3.scale.ordinal()
.range(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"]);


var color = d3.scale.ordinal()
  .domain(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"])
  .range(["#e34141", "#4545ec", "#652e2e", "#272323", "#eeee4b", "#808080", "#944fba", "#22c322"]);
  // .range(red, blue, brown, black, yellow, grey, purple,green)

var m = 3,
    r = 60;



var pie = d3.layout.pie()
  .value( function(d) { return d.scores; })
  .padAngle(.01)
  .sort(null);

var arc = d3.svg.arc()
        .innerRadius(r / 2)
        .outerRadius(r);

var pie = d3.layout.pie()
    .value(function(d) { return +d.score; })
    .sort(null);


var data = {};

var tweet_scoring = d3.nest()
    .key(function(d) { return d.tweet_id; })
    .entries(something);

var tweet_emoting = d3.nest()
    .key(function(d) { return d.tweet_id; })
    .entries(something);
    
var svg = d3.select(".testpie").selectAll("div")
      .data(tweet_scoring)
      .enter().append("div")
        .attr("class", "emotion_donut")
      .append("svg")
        .attr("width", (r + m) * 2)
        .attr("height", (r + m) * 2)
        .attr("class", "tweet")
        .attr("id", function(d, i) {return "tweet_" + i; })
      .append("g")
      .attr("transform", "translate(" + (r + m) + "," + (r + m) + ")");

svg.append("text")
  .each(function(d) { this._current = d;})
  .attr("dy", ".35em")
  .attr("text-anchor", "middle")
  .attr("class", "tweet_text")
  .attr("id", function(d) { return "tweet_text_" + this._current.key; });


var g = svg.selectAll('g')
  .data(function(d) { return pie(d.values); })
  .enter().append('g');

  g.append("path")
      .each(function(d) { this._current = d; })
      .attr("d", arc)
      .attr("class", "emotionArc")
      .attr("id", function(d, i) {return "emotionArc_" + i; })
      .style("fill", function(d) { return color(d.data.emotion); });

      // g.append("text")
      //     .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      //     .attr("dy", ".35em")
      //     .style("text-anchor", "middle");

      // g.select("text").text(function(d) { return d.data.emotion; });      

      g.on("mouseover", function(obj){

        svg.select("#tweet_text_"+ obj.data.tweet_id)
        .attr("fill", function(d) { return color(obj.data.emotion); })
        .attr("font-weight", "bold")
        .style("font-size", r/6+"px")
        .text(function(d){
          return obj.data.emotion;
        });
      });

      svg.on("click", clicked);



function clicked(d) {

  var mypie = d3.select(this);

  var bigpie = ("#"+mypie[0][0].viewportElement.id);

  var thatpie = bigpie.replace(/[^0-9]/gi, '');


  d3.select('#tweet_view')
  .text("")
  .html(function(d) { return "<p>[" + otherthing[thatpie].created_at + "] " + otherthing[thatpie].text; + "</p>"})
  .attr("class", "small-12 columns")
  // .style("font-style", "italic")
  // .style("font-size", r/6+"px");

};




</script>

    {% endblock %}
</body>

</html>
