 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Home</title>
</head>

<body>
    {% block pagecontent %}
    <p>somethingred</p>

<div class='testpie'>
</div>
	<script src="//d3js.org/d3.v3.min.js"></script>


<script type='text/javascript' >

var something = {{tweets|safe}};

var tweet_text = ["gerber baby", "sing me a song"];



// var data = {{data|safe}};
var data = [[2,4,2, 0, 0, 0, 5, 0], [2,4,2,2,2,4,2,2]];

var label = d3.scale.ordinal()
.range(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"]);


var color = d3.scale.ordinal()
	.domain(["anger", "anticipation", "disgust", "fear", "joy", "sadness", "surprise", "trust"])
	.range(["#e34141", "#4545ec", "#652e2e", "#272323", "#eeee4b", "#808080", "#944fba", "#22c322"]);
	// .range(red, blue, brown, black, yellow, grey, purple,green)

var m = 10,
    r = 100;


var scoring = function(d) {
	console.log(d);
	return d.sentiment.score;
};

var pie = d3.layout.pie()
	.value( function(d) { return d.scores; });

var arc = d3.svg.arc()
        .innerRadius(r / 2)
        .outerRadius(r);

var pie = d3.layout.pie()
    .value(function(d) { return +d.score; })
    .sort(null);
    // .sort(function(a, b) { return b.score - a.score; });


var tweet_scoring = d3.nest()
		.key(function(d) { return d.tweet_id; })
		.entries(something);

var svg = d3.select(".testpie").selectAll("svg")
		.data(tweet_scoring)
		.enter().append("svg")
	    .attr("width", (r + m) * 2)
	    .attr("height", (r + m) * 2)
	    .attr("class", "tweet")
	  	.attr("id", function(d, i) {return "tweet_" + i; })
  	.append("g")
    .attr("transform", "translate(" + (r + m) + "," + (r + m) + ")");

svg.append("text")
  .attr("dy", ".35em")
  .attr("text-anchor", "middle")
  .attr("class", "tweet_text")
  .attr("id", function(d, i) { return "tweet_text_" + i; })
  .text(function(d) { return d.tweet_id; });

var g = svg.selectAll('g')
	.data(function(d) { return pie(d.values); })
	.enter().append('g');

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d, i) { return color(d.data.emotion); })
    // .append("title")
    //   .text(function(d) { return d.tweetdata.emotion + ": " + d.tweetdata.score; });
  
  g.filter(function(d) { return d.endAngle - d.startAngle > .2; }).append("text")
      .attr("dy", ".35em")
      .attr("text-anchor", "middle")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")rotate(" + angle(d) + ")"; })
      .text(function(d) { return d.data.emotion; });

  // Computes the label angle of an arc, converting from radians to degrees.
  function angle(d) {
    var a = (d.startAngle + d.endAngle) * 90 / Math.PI - 90;
    return a > 90 ? a - 180 : a;
  }

// svg.selectAll("path")
//  	.data(pie(scoring(data)))
//   .enter().append("path")
//   	.attr("d", arc)
//   	.attr("class", "emotionArc")
// 	 	.attr("id", function(d, i) {return "emotionArc_" + i; })
// 	 	.attr("text", function(d, i) { return label(i);})
//   	.style("fill", function(d, i) { return color(i); });



</script>
    <a href="{% url 'index' %}"> Get Nosy </a> 
    <a href="{% url 'test_pie' %}">Test Pies</a>
    {% endblock %}
</body>

</html>